@import "main.css";
@import "variables.css";

header {
	background-color: var(--main-bg-colour);
	font-size: 0;
}

	header .container {
		max-width: 640px;
		margin: 0 auto;
		overflow: auto;
	}

	header h1 {
		margin: 0;
	}

		header h1 img {
			margin-top: 30px;
			width: 100px;
		}

	header img.header-silhouette {
		width: 100%;
		margin: 0;
	}

	header h2 {
		margin: 50px 0;
		font-size: 20px;
	}

.panel-container {
	display: flex;
	max-width: 600px;
}

.panels {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	margin: auto;
	padding: 20px;
	align-self: center;
	background-color: var(--main-bg-colour);
	border-radius: 5px;
	border: 2px solid var(--accent);
	box-sizing: border-box;
}

h2 {
	margin: 0;
	text-align: center;
	font-size: 18px;
}

p {
	margin: 0;
	font-size: 12px;
	color: var(--hint-text);
}

.desc {
	text-align: center;
	margin-bottom: 20px;
	font-size: 14px;
	color: var(--text);
}

input {
	background-color: var(--light-bg-colour);
	border: 2px solid var(--light-bg-colour);
	border-radius: 5px;
	margin-top: 3px;
	margin-bottom: 20px;
	padding-left: 5px;
	height: 25px;
	width: 200px;
	color: var(--text);
}

	input:focus {
		outline-color: var(--accent);
	}

	input::placeholder {
		color: var(--hint-text);
	}

.dist {
	color: var(--highlight);
}

.key-area {
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
	color: var(--highlight);
}

button {
	background-color: var(--accent-darker);
	border: 2px solid var(--accent-darker);
	color: var(--text);
	border-radius: 5px;
	height: 25px;
	width: 120px;
	align-self: center;
}

	button:focus {
		outline-color: var(--accent);
	}

#sub {
	border-color: var(--accent-darker);
}
