@import "main.css";
@import "variables.css";

hr {
	margin: 0;
	border: 0;
	height: 2px;
	background: var(--gradient);
}

.owner {
    display: flex;
    flex-direction: column;
    max-width: 425px;
    margin: auto;
    align-self: center;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    border: 2px solid var(--accent);
}

form {
	align-self: center;
}

fieldset {
	font-size: 1.4em;
	padding: 0.5em;
	border: none;
	font-family: sans-serif;
}

input, button {
	font-size: inherit;
	padding: 0.2em;
	margin: 0.1em 0.2em;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	border: 2px solid;
	border-radius: 5px;
}

input {
	border-color: white;
}

	input:focus {
		outline: none;
		border: 2px solid var(--accent);
	}

button {
	background-color: var(--accent);
	border-color: var(--accent);
}

.key-area {
	border-radius: 5px;
	padding: 10px;
}

h2 {
	margin: 0;
}