@import url('https://fonts.googleapis.com/css?family=Convergence&display=swap');

:root {
	--main-bg-colour: #2E2E2E;
	--light-bg-colour: #464646;
	--text: #E8E8E8;
	--gradient: linear-gradient(to right, #2A4E75, #3A8DE6);
	--accent: #5195DD;
	--font: 'Convergence', sans-serif;
}
