@import url('https://fonts.googleapis.com/css?family=Convergence&display=swap');

:root {
    --main-bg-colour: #202020;  
    --text: white;
    --gradient: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
    --accent: #5195DD;
    --font: 'Convergence', sans-serif;
}