@import url('https://fonts.googleapis.com/css?family=Convergence&display=swap');

:root {
    --gradient: linear-gradient(to right, #2A4E75, #3A8DE6);
	--main-bg-colour: #2E2E2E;
	--light-bg-colour: #464646;
    --text: #E8E8E8;
    --hint-text: #A2A2A2;
    --highlight: #CC8C2C;
    --accent: #4179B5;
    --accent-darker: #35608E;
	--font: 'Convergence', sans-serif;
}
